@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;


.btn {
    @include mx.flex-center(row, 20px);
}


// Nur für startseite
.btn-play {
    background-color: co.$start-bt;
    color: co.$font-co-dark;
    @include mx.size-scaling(250px, 98px, 24px);

    &__img {
        @include mx.size-scaling(44px, 32px);
    }

    &__text {
        @include mx.font-design($fz: 40px, $fw: 700);
    }

    &__arrow {
        @include mx.size-scaling(33px);

        &--hidden {
            display: none;
        }
    }
}


.btn-play:hover {
    transform: scale(1.1);
    >.btn-play__arrow {
        display: none;

        &--hidden {
            display: block;
        }
    }

    >.btn-play__img {
        transform: rotate(-22deg);
    }
}


// button setting seite
.btn-start {
    background-color: co.$start-bt;
    color: co.$font-co-dark;
    @include mx.size-scaling($pd: 24px);

    &__img {
        @include mx.size-scaling(20px, 16px);
    }

    &__text {
        @include mx.font-design($fz: 20px, $fw: 700);
    }
}


.btn-start:hover {
    transform: scale(1.1);
    >.btn-play__img {
        transform: rotate(-22deg);
    }
}