@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;
@use '../themes/da_projects';


.btn {
    @include mx.flex-center(row, 20px);
}


// for startscreen
.btn-play {
    background-color: co.$start-bt;
    color: co.$font-co-dark;
    @include mx.size-scaling(250px, 98px, 24px);

    &__img {
        @include mx.size-scaling(44px, 32px);
    }

    &__text {
        @include mx.font-design($fz: 40px, $fw: 700, $ffam:'Red Rose');
    }

    &__arrow {
        @include mx.size-scaling(33px);

        &--hidden {
            display: none;
        }
    }
}


.btn-play:hover {
    transform: scale(1.1);

    >.btn-play__arrow {
        display: none;

        &--hidden {
            display: block;
        }
    }

    >.btn-play__img {
        transform: rotate(-22deg);
    }
}


// button setting page
.btn-start {
    background-color: co.$start-bt;
    color: co.$font-co-dark;
    gap: 8px;
    @include mx.size-scaling($pd: 14px 20px);

    &__img {
        @include mx.size-scaling(20px);
    }

    &__text {
        @include mx.font-design($fz: 20px, $fw: 700, $ffam:'Red Rose');
    }
}


.btn-start:hover {
    transform: scale(1.1);

    >.btn-start__img {
        transform: rotate(-22deg);
    }
}


.btn-start--disabled {
    background: #DBDBD6;
    cursor: no-drop;

    &:hover {
        transform: scale(1);

        >.btn-start__img {
            transform: rotate(0deg);
        }
    }
}


// Game page
.btn-exit {
    @include mx.size-scaling($pd: var(--padding-btn-exit));
    gap: 10px;
    background-color: var(--surface-btn-exit);
    color: var(--text-btn-exit);
    border: var(--border-btn-exit);
    border-radius: var(--border-radius-btn-exit);

    &__img {
        @include mx.size-scaling(var(--size-width-btn-exit), var(--size-height-btn-exit));
    }

    &__text {
        @include mx.font-design(var(--font-site-btn-exit), var(--font-weight-btn-exit))
    }

    &:hover {
        box-shadow: var(--border-btn-exit-hov);
    }
}


// modal
.btn-back {
    background-color: var(--surface-modal-btn-back);
    color: var(--text-modal-btn-back);
    @include mx.size-scaling($pd: var(--padding-btn-exit));
    @include mx.font-design(20px, 700);
    border: var(--border-btn-exit);
    border-radius: var(--border-radius-btn-exit);
    &:hover{
        color: var(--text-modal-btn-back-hov);
        background-color: var(--surface-modal-btn-back-hov);
        border: var(--border-btn-back-hov);
    }
}


.btn-modal-exit {
    @include mx.size-scaling($pd: var(--padding-btn-exit));
    gap: 10px;
    background-color: var(--surface-btn-exit);
    color: var(--text-modal-btn-quit);
    border: var(--border-btn-quit);
    border-radius: var(--border-radius-btn-quit);

    @include mx.font-design(var(--font-site-btn-exit), var(--font-weight-btn-exit));
    &:hover {
        box-shadow: var(--border-btn-exit-hov);
    }
}