@use 'sass:map';


// boundary points
$breakpoints: (
    zero:0px,
    sm:380px,
    md:560px,
    lg:740px,
    xl:920px,
    xxl:1280px,
);


// responsiv for media querry
@mixin respond($size){
    @media screen and (max-width: map.get($breakpoints, $size)) {
        @content;
    }
}


// boundary points
$breakpoints: (
    md:700px,
    lg:840px,
    xl:920px,
);


// responsiv for media querry
@mixin screenHeight($size){ 
    @media screen and (max-height: map.get($breakpoints, $size)) {
        @content;
    }
}


// Standard flex box for individual alignment
@mixin flex-center($fd: column, $gap: 0px) {
    display: flex;
    flex-direction: $fd;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


// fully customizable flex box 
@mixin flex-costom($fd: column, $jc:auto, $ai:auto, $gap: 0px) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}


// size allocation for elements/containers
@mixin size-scaling($wh: auto, $ht: auto, $pd: 0px) {
    width: $wh;
    height: $ht;
    padding: $pd;
}


// Precise positioning of elements
@mixin position-offset($po: absolute, $top: auto, $lt: auto, $rt: auto, $bo: auto, $zi: 0) {
    position: $po;
    top: $top;
    left: $lt;
    right: $rt;
    bottom: $bo;
    z-index: $zi;
}


// font design template
@mixin font-design($fz:16px, $fw:300, $ffam:inherit) {
    font-size: $fz;
    font-weight: $fw;
    font-family: $ffam;
}