@use '../../../src/styles/themes/da_projects';
@use '../abstract/mixin' as mx;


.alignment {
    display: flex;
    justify-content: center;
}


.game-board {
    margin-top: 41px;
    @include mx.size-scaling(1217px);
}


.display-field {
    background-color: var(--surface-header);
    @include mx.size-scaling($ht: 62px);
    display: flex;
    justify-content: space-between;
}


.status-player {
    @include mx.flex-costom($fd: row, $ai: center, $gap: 20px);
    @include mx.size-scaling($pd: 17px 20px);
    background-color: #86E9D633;

}


.display-player {
    @include mx.flex-costom($fd: row, $ai: var(--alignment-current-player), $gap: 8px);
    height: 28;

    &__text {
        @include mx.font-design(26px, 400);
    }

    &__img {
        @include mx.size-scaling(29px, 24px);
    }
}


.player {
    @include mx.flex-costom($fd: row, $ai: center, $gap: 4px);
    color: var(--);

    &__img {
        @include mx.size-scaling(24px, 20px);
    }

    &__one {
        @include mx.font-design(24px, 700);
        color: var(--text-player-bl);
    }

    &__two {
        @include mx.font-design(24px, 700);
        color: var(--text-player-or);
    }
}


.game-info {
    display: flex;
    gap: 170px;
}


.playing-field {
    margin-top: 60px;
    display: grid;
    
    
    justify-content: center;
    &--grid-16{
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }
    &--grid-24{
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
    }
    &--grid-36{
        margin-top: 40px;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 5px;
    }
}


.card {
    height: 200px;
    width: 200px;
    background-image: var(--surface-cover);
    @include mx.size-scaling(120px, 120px);
    @include mx.flex-center();

}


.modal{
    @include mx.flex-costom($fd: column, $jc:space-between, $ai:center, $gap: 0px);
    @include mx.size-scaling(500px, 320px, 40px);
    @include mx.font-design(32px, 700);
    background-color: var(--surface-modal);
    color: var(--text-modal-primary);
    text-align: center;
}