@use '../../../src/styles/themes/da_projects';
@use '../abstract/mixin' as mx;


.alignment {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}


.game-board {
    margin-top: 41px;
    @include mx.size-scaling(1217px);
}


.display-field {
    background-color: var(--surface-header);
    @include mx.size-scaling($ht: 62px);
    display: flex;
    justify-content: space-between;
}


.status-player {
    @include mx.flex-costom($fd: row, $ai: center, $gap: 20px);
    @include mx.size-scaling($pd: 17px 20px);
    background-color: var(--surface-game-info);
}


.display-player {
    @include mx.flex-costom($fd: row, $ai: var(--alignment-current-player), $gap: 8px);
    height: 28;

    &__text {
        @include mx.font-design(26px, 400);
    }

    &__img {
        @include mx.size-scaling(29px, 24px);
    }
}


.player {
    @include mx.flex-costom($fd: row, $ai: center, $gap: 4px);
    color: var(--);

    &__img {
        @include mx.size-scaling(24px, 20px);
    }

    &__one {
        @include mx.font-design(24px, 700);
        color: var(--text-player-bl);
    }

    &__two {
        @include mx.font-design(24px, 700);
        color: var(--text-player-or);
    }
}


.game-info {
    display: flex;
    gap: 170px;
}


.playing-field {
    margin-top: 60px;
    display: grid;
    justify-content: center;

    &--grid-16 {
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    &--grid-24 {
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
    }

    &--grid-36 {
        margin-top: 40px;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 5px;
    }
}


.card {
    height: 200px;
    width: 200px;
    background-image: var(--surface-cover);
    @include mx.size-scaling(120px, 120px);
    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }
    &__face{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        backface-visibility: hidden;
        &--back{
            transform: rotateY(180deg);
        }
    }
    &:hover {
        animation: shake 0.2s linear infinite;
    }
    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}


.modal {
    @include mx.flex-costom($fd: column, $jc: space-between, $ai: center, $gap: 0px);
    @include mx.size-scaling(500px, 320px, 40px);
    @include mx.font-design($fz:var(--modal-font-size), $fw:var(--modal-font-weight));
    background-color: var(--surface-modal);
    color: var(--text-modal-primary);
    text-align: center;
    border-radius: var(--border-modal);
}


.overlay {
    @include mx.position-offset($po: absolute, $top: 0px, $lt: 100%);
    @include mx.size-scaling(100%, 100vh);
    @include mx.flex-center();
    background-color: rgba(0, 0, 0, 0.0);
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}


.fade-in {
    transform: translateX(-100%);
}


.is-open {
    animation: slideIn 0.3s ease forwards;
}


.is-closing {
    animation: slideOut 0.3s ease forwards;
}


// Keyframes global!
@keyframes slideIn {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


@keyframes slideOut {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes shake {
    0% {
        transform: rotate(-2deg);
    }

    25% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}