@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;


.start-screen {
    @include mx.size-scaling($ht: 100%);
    @include mx.flex-center($gap: 40px);
    >img {
        @include mx.position-offset($lt: 0px, $bo: 20px);
    }
}


.start-headline {
    >p {
        @include mx.font-design($fz:40px, $fw:700);
    }
    >h1 {
        @include mx.font-design($fz:140px, $fw:700);
    }
}


.btn-play {
    @include mx.size-scaling(250px, 98px, 24px);
    @include mx.flex-center(row, 20px);
    background-color: co.$start-bt;
    color: co.$font-co-dark;
    &:hover {
        img:first-child {
            transform: rotate(-22deg);
        }
        transform: scale(1.1);
    }
    >img:first-child {
        @include mx.size-scaling(44px, 32px);
    }
    >img:last-child {
        @include mx.size-scaling(33px);
    }
    >p {
        @include mx.size-scaling(85px, 50px);
        @include mx.font-design($fz:40px, $fw:700); 
    }
}