@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;


.start-screen {
    @include mx.size-scaling($ht: 100%);
    @include mx.flex-center($gap: 40px);

    >img {
        @include mx.position-offset($lt: 0px, $bo: 20px);

        @include mx.respond(xxl) {
            @include mx.size-scaling(400px, 300px);
            @include mx.position-offset($lt: -80px, $bo: 5px);
        }

        @include mx.respond(md) {
            @include mx.size-scaling(330px, 230px);
            @include mx.position-offset($lt: -80px, $bo: 5px);
        }
    }
}


.start-headline {
    >p {
        @include mx.font-design($fz: 40px, $fw: 700);

        @include mx.respond(xxl) {
            font-size: 32px;
        }

        @include mx.respond(lg) {
            font-size: 24px;
        }

        @include mx.respond(md) {
            font-size: 20px;
        }
    }

    >h1 {
        @include mx.font-design($fz: 140px, $fw: 700);

        @include mx.respond(xxl) {
            font-size: 100px;
        }

        @include mx.respond(lg) {
            font-size: 72px;
        }

        @include mx.respond(md) {
            font-size: 48px;
        }

        @include mx.respond(sm) {
            font-size: 40px;
        }
    }
}


.btn-play {
    @include mx.size-scaling(250px, 98px, 24px);
    @include mx.flex-center(row, 20px);
    background-color: co.$start-bt;
    color: co.$font-co-dark;

    &:hover {
        img:first-child {
            transform: rotate(-22deg);
        }

        transform: scale(1.1);
    }

    >img:first-child {
        @include mx.size-scaling(44px, 32px);
    }

    >img:last-child {
        @include mx.size-scaling(33px);
    }

    >p {
        @include mx.size-scaling(85px, 50px);
        @include mx.font-design($fz: 40px, $fw: 700);

        @include mx.respond(lg) {
            @include mx.font-design($fz: 24px, $fw: 700);
            @include mx.size-scaling();
        }
    }

    @include mx.respond(md) {
        @include mx.size-scaling(220px, 80px, 12px);
    }

    @include mx.respond(sm) {
        @include mx.size-scaling(180px, 70px, 8px);
        gap: 12px;
    }
}