@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;
@use '../base/reset';

body {
    background-color: white;
}

.main-content {
    position: relative;
    background-color: white;
    @include mx.size-scaling($wh: 1103px, $ht: 539px);
    color: co.$font-co-dark;
}


.title {
    @include mx.position-offset($top: -129px, $lt: 3px);
    @include mx.size-scaling($wh: 251px, $ht: 67px);
    text-align: center;

    >h2 {
        @include mx.font-design($fz: 54px, $fw: 700, $ffam: 'Red Rose');

        &:after {
            content: url(../../../public/assets/img/settings/underline_yellow.svg);
            position: absolute;
            left: -10px;
            transform: translateY(50%);
        }
    }
}

.setting {
    @include mx.position-offset($top: 0px, $lt: 0px);
    display: flex;
    justify-content: space-between;
    width: 1103px;
    background-color: white;
}


.player-settings {
    @include mx.position-offset($bo: 0px, $lt: 0px);
    //@include mx.flex-center($gap: 54px);
    display: flex;
    flex-direction: column;
    gap: 54px;
}


.setting-list {
    
    &__header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
    }

    &__img {
        @include mx.size-scaling($wh: 32px, $ht: 32px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


.setting-element {
    &__input-field {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-left: 44px;
        &:hover {
            cursor: pointer;
        }
    }

    &__circle-img{
        @include mx.size-scaling($wh: 20px, $ht: 20px);
        &--disabled{
            display: none;
        }
    }

    &__text {
        @include mx.font-design($fz: 20px, $fw: 700);
        &--disabled{
            font-weight: 400;
        }
    }

    &__img-flag{
        @include mx.size-scaling($wh: 41px);
        display: block;
        &--disabled{
            display: none;
        }
    }
}


.game-play {
    background-color: #F6F6F6;
    @include mx.position-offset($bo: 0px, $rt: 0px);
    @include mx.flex-center(row, $gap: 16px);
    @include mx.size-scaling($ht: 81px, $pd: 14px 20px);

    &__text {
        @include mx.font-design($fz: 20px, $fw: 400);
    }
}