@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;
@use '../base/reset';

body {
    background-color: white;
}

.main-content {
    position: relative;
    background-color: white;
    @include mx.size-scaling($wh: 1103px, $ht: 539px);
    color: co.$font-co-dark;
}


.title {
    @include mx.position-offset($top: -129px, $lt: 3px);

    >h2 {
        @include mx.font-design($fz: 54px, $fw: 700, $ffam: 'Red Rose');
    }
}

.setting {
    @include mx.position-offset($top: 0px, $lt: 0px);
    display: flex;
    justify-content: space-between;
    width: 1103px;
    background-color: white;
}


.player-settings {
    @include mx.position-offset($bo: 0px, $lt: 0px);
}


.setting-list {
    &__header {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__img {
        @include mx.size-scaling($wh: 32px, $ht: 32px);
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


.setting-option {
    &__input-field {
        display: flex;
        align-items: center;
        position: relative;
        gap: 8px;
        padding-left: 44px;
    }

    &__input {
        
        &:checked + .setting-option__radio{
            transform: translate(-50%, -50%) scale(1);
        }
        &:checked ~ .setting-option__marker{
            display: block;
        }
    }

    &__text{
        @include mx.font-design($fz: 20px, $fw: 400)
    }

    &__radio {
        @include mx.size-scaling($wh: 20px, $ht: 20px);
        border: 2px solid black;
        border-radius: 50%;

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: black;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
        }

    }
    &--marker{
        margin-left: auto;
        width: 41px;
        display: block;
    }
}


.game-play {
    background-color: #F6F6F6;
    @include mx.position-offset($bo: 0px, $rt: 0px);
    @include mx.flex-center(row, $gap:16px);
    @include mx.size-scaling($ht:81px, $pd:14px 20px );
    &__text{
        @include mx.font-design($fz: 20px, $fw: 400);
    }
}