@use '../abstract/mixin' as mx;
@use '../abstract/colors' as co;
@use '../base/reset';


.body-setting {
    background-color: white;
    color: co.$font-co-dark;
    @include mx.flex-center();
    font-family: 'Red Rose';
}


.main-content {
    position: relative;
    @include mx.size-scaling($wh: 1103px, $ht: 539px);
    color: co.$font-co-dark;

    @include mx.respond(xxl) {
        width: 800px;
    }

    @include mx.respond(xl) {
        width: 660px;
    }

    @include mx.respond(lg) {
        width: 500px;
    }

    @include mx.respond(md) {
        width: 100%;
        @include mx.flex-costom($fd: column, $ai: center, $gap: 90px);
    }
    @include mx.screenHeight(lg) {
        margin-top: 90px;
    }
}


.headline {
    @include mx.position-offset($top: -129px, $lt: 3px);
    @include mx.size-scaling($wh: 251px, $ht: 67px);

    @include mx.screenHeight(lg) {
        top: -110px;
    }

    text-align: center;

    &__title {
        @include mx.font-design($fz: 54px, $fw: 700, $ffam: 'Red Rose');

        @include mx.screenHeight(lg) {
            font-size: 46px;
        }
    }

    @include mx.respond(md) {
        position: unset;
    }
}


.setting {
    @include mx.position-offset($top: 0px, $lt: 0px);
    @include mx.flex-costom($fd: row, $jc: space-between);
    width: 100%;

    @include mx.respond(md) {
        @include mx.flex-center($fd: column, $gap: 60px);
        position: unset;
    }
}


.img-themse {
    @include mx.respond(xl) {
        @include mx.size-scaling($wh: 320px);
    }

    @include mx.respond(lg) {
        @include mx.size-scaling($wh: 200px);
    }
}


.player-settings {
    @include mx.position-offset($bo: 0px, $lt: 0px);
    @include mx.flex-costom($gap: 54px);

    @include mx.respond(md) {
        position: unset;
    }
}


.setting-list {
    &__header {
        @include mx.flex-costom($fd: row, $ai: center, $gap: 8px);
        margin-bottom: 16px;
    }

    &__img {
        @include mx.size-scaling($wh: 32px, $ht: 32px);
    }

    &__content {
        @include mx.flex-costom($gap: 12px);
    }
}


.setting-element {
    &__input-field {
        @include mx.flex-costom($fd: row, $ai: center, $gap: 8px);
        padding-left: 44px;

        &:hover {
            cursor: pointer;
        }
    }

    &__circle-emp {
        @include mx.size-scaling($wh: 20px, $ht: 20px);
        display: block;

        &--aktiv {
            display: none;
        }
    }

    &__circle-full {
        @include mx.size-scaling($wh: 24px, $ht: 24px);
        margin-left: -2px;
        display: none;

        &--aktiv {
            display: block;
        }
    }

    &__text {
        @include mx.font-design($fz: 20px, $fw: 400);

        &--aktiv {
            font-weight: 700;
        }
    }

    &__img-flag {
        @include mx.size-scaling($wh: 41px);
        display: none;

        &--aktiv {
            display: block;
        }
    }
}


.game-play {
    background-color: #F6F6F6;
    @include mx.position-offset($bo: 0px, $rt: 0px);
    @include mx.flex-center(row, $gap: 16px);
    @include mx.size-scaling($ht: 81px, $pd: 14px 20px);

    &__text {
        @include mx.font-design($fz: 20px, $fw: 400);

        @include mx.respond(xl) {
            @include mx.size-scaling($pd: 15px 20px);
            text-align: center;
        }
    }

    @include mx.respond(xl) {
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        gap: 0px;

        &__img {
            display: none;
        }
    }

    @include mx.respond(lg) {
        padding: 8px 12px;
    }

    @include mx.respond(md) {
        position: unset;
        width: 100%;
    }
}