.theme {

    &__code {
        font-family: 'Almarai';
        background-color: #303131; // background
        color: #FFFFFF;

        // card design
        --surface-cover: linear-gradient(212.26deg, #4DD5BC 29.42%, #286F62 123.94%); // card cover
        --surface-front: #E8F3F0;
        --surface-match: #FFFFFF;
        --border-match: 5px solid #4DD5BC;
        --border-radius-card: 0px;
        --card-shadow: 6px 6px 8px 0px #4DD5BC4D;
        --card-width: 120px;
        --card-height: 120px;
        --card-deck: block;
        --card-gap: 6px;

        // modal
        --surface-modal: #FFFFFF;
        --text-modal-primary: #303131;
        --border-modal: 0px;
        --modal-font-size: 32px;
        --modal-font-weight: 700;


        // modal btn back
        //normal
        --text-content: 'Exit game';
        --text-modal-btn-back: #FFFFFF;
        --surface-modal-btn-back: #66CFBC;
        --border-color-btn-back: #66CFBC;
        --border-btn-back: 2px;
        --border-radius-back: 0px;
        --font-weight-btn-back: 700;
        --font-size-btn-back: 20px;
        --padding-btn-back: 16px 24px;          
        --shadow-btn-back: none;


        //hover
        --border-btn-back-hov: 2px;
        --border-color-btn-back-hov: #3ABCA4;
        --surface-modal-btn-back-hov: #66CFBCB2;
        --text-modal-btn-back-hov: #FFFFFF;
        --border-btn-shadow-back-hov: inset 0 0 0 1px #3ABCA4;


        // modal btn quit
        //normal
        --text-content: 'Exit game';
        --text-modal-btn-quit: #4DD5BC;
        --surface-modal-btn-quit: #86E9D624;
        --border-btn-quit: 2px;
        --border-color-quit: ;
        --border-radius-quit: 0px;
        --font-weight-btn-quit: 700;
        --font-size-btn-quit: 20px;
        --padding-btn-quit: 16px 24px;
        --shadow-btn-quit: none;

        // hover
        --border-btn-quit-hov: 2px;
        --border-color-btn-quit-hov: #3ABCA4;
        --surface-modal-btn-quit-hov: #66CFBCB2;
        --text-modal-btn-quit-hov: #FFFFFF;
        --border-btn-shadow-qiut-hov: inset 0 0 0 1px #3ABCA4;


        // header
        --surface-header: transparent;
        --pading-header: 0px;
        --header_heigth: 62px;
        --border-radius-header: 0px;
        --alignment-current-player: end;


        // Game information display field
        --surface-game-info: #86E9D633;
        --text-player-bl: #2BB1FF;
        --text-player-or: #F58E39;
        --height-status-player: 54px;
        --padding-status-player: 17px 20px;
        --border-game-info: 0px;
        --border-radius-game-info: 0px;


        // btn exit
        // normal
        --text-btn-exit: #FFFFFF;
        --surface-btn-exit: #86E9D633;
        --border-btn-exit: 1px solid #4DD5BC;
        --border-radius-btn-exit: 0px;
        --font-size-btn-exit: 24px;
        --font-weight-btn-exit: 700;
        --padding-btn-exit: 16px 24px;
        --size-width-btn-exit: 30px;
        --size-height-btn-exit: 30px;

        // hover
        --border-btn-exit-hov: inset 0px 0px 0px 3px #4DD5BC, 4px 4px 6px 0px #4DD5BC33; // shadow
        --border-color-btn-exit-hov: none;
        --surface-btn-exit-hov: #86E9D642;
        --text-btn-exit-hov: #FFFFFF;
        --border-btn-shadow-exit-hov: 3px 3px 5px 0px #2F2E2E33;
    }
}