.theme {

    &__da {
        font-family: 'Figtree';
        background-color: #FFFFFF; // background
        color: #1E7594;

        // card design
        --surface-cover: #1E7594;
        --surface-front: #EAF2F4;
        --surface-match: #F0FBFF;
        --border-match: 2px solid #1E7594;
        --border-radius-card: 13px;
        --card-shadow: none;
        --card-width: 120px;
        --card-height: 100px;
        --card-deck: block;

        // modal
        --surface-modal: #F0F6F9;
        --text-modal-primary: #294F60;
        --border-modal: 20px;
        --modal-font-size: 28px;


        // modal btn back
        //normal
        --text-content: 'Back to game';
        --text-modal-btn-back: #1E7594;
        --surface-modal-btn-back: #BFE5F2;

        --border-btn-back: 0px;
        --border-radius-back: 10px;
        --font-weight-btn-back: 700;
        --font-site-btn-back: 16px;
        --padding-btn-back: 12px 20px;
        --shadow-btn-back: 3px 3px 5px 0px #2F2E2E33;


        // hover
        --border-btn-back-hov: 0px;
        --border-color-btn-back-hov: none;
        --surface-modal-btn-back-hov: #1E7594;
        --text-modal-btn-back-hov: #FFFFFF;
        --border-btn-shadow-back-hov: none;



        // modal btn quit
        //normal
        --text-content: 'Exit game';
        --text-modal-btn-qiut: #FFFFFF;
        --surface-modal-btn-quit: #FD8A81;
        --border-btn-quit: 0px;
        --border-radius-quit: 10px;
        --font-weight-btn-quit: 700;
        --font-site-btn-quit: 16px;
        --padding-btn-quit: 12px 20px;
        --shadow-btn-quit: 3px 3px 5px 0px #2F2E2E33;

        // hover
        --border-btn-quit-hov: 0px;
        --border-color-btn-quit-hov: none;
        --surface-modal-btn-quit-hov: #ED5B50;
        --text-modal-btn-quit-hov: #FFFFFF;
        --border-btn-shadow-qiut-hov: none;


        // header
        --surface-header: #F0F3F4;
        --pading-header: 24px;


        // Game information display field / status-plyer
        --surface-game-info: #FFFFFF;
        --text-player-bl: #2BB1FF;
        --text-player-or: #F58E39;
        --padding-status-player: 30px;
        --border-game-ingo: 0px; //namen korrigieren
        --border-radius-game-info: 10px;


        // Current player display field

        --alignment-current-player: center; // mit zu header

        // btn exit
        // normal
        --text-btn-exit: #1E7594;
        --surface-btn-exit: #BFE5F2;
        --border-btn-exit: none;
        --border-radius-btn-exit: 10px;
        --font-site-btn-exit: 20px;
        --font-weight-btn-exit: 700;
        --padding-btn-exit: 12px 20px;
        --size-width-btn-exit: 30px;
        --size-height-btn-exit: 30px;

        // hover
        --border-btn-exit-hov: 0px;
        --border-color-btn-exit-hov: none;
        --surface-modal-btn-exit-hov: #1E7594;
        --text-btn-exit-hov: #FFFFFF;
        --border-btn-shadow-exit-hov: 3px 3px 5px 0px #2F2E2E33;

    }
}