.theme {

    &__food {
        font-family: 'Klee One';
        background-color: #FFFFFF; // background
        color: #A45212;

        // card design
        --surface-cover: #F3832D;
        --surface-front: #F4ECE4;
        --surface-match: #F4ECE4;
        --border-match: border: 4px solid #F3832D;
        --border-radius-card: 0px;
        --card-shadow: none;
        --card-width: 122px;
        --card-height: 122px;
        --card-deck: block;
        --card-gap: 6px;

        // modal
        --surface-modal: #F6F6F6;
        --text-modal-primary: #A45212;
        --border-modal: 20px;
        --modal-font-size: 28px;
        --modal-font-weight: 600;


        // modal btn back
        //normal
        --text-content: 'Back to game';
        --text-modal-btn-back: #FFFFFF;
        --surface-modal-btn-back: #FFAB3E;
        --border-color-btn-back: #66CFBC;
        --border-btn-back: 3px;
        --border-radius-back: 10px;
        --font-weight-btn-back: 700;
        --font-size-btn-back: 16px;
        --padding-btn-back: 12px 20px;
        --shadow-btn-back: none;


        // hover
        --border-btn-back-hov: 0px;
        --border-color-btn-back-hov: none;
        --surface-modal-btn-back-hov: #F3832D;
        --text-modal-btn-back-hov: #FFFFFF;
        --border-btn-shadow-back-hov: 3px 3px 5px 0px #00000033;


        // modal btn quit
        //normal
        --text-content: 'Exit game';
        --text-modal-btn-qiut: #F3832D;
        --surface-modal-btn-quit: #FFF9F2;
        --border-btn-quit: 3px;
        --border-color-quit: #F3832D;
        --border-radius-quit: 10px;
        --font-weight-btn-quit: 700;
        --font-size-btn-quit: 16px;
        --padding-btn-quit: 12px 20px;
        --shadow-btn-quit: none;

        // hover
        --border-btn-quit-hov: 0px;
        --border-color-btn-quit-hov: none;
        --surface-modal-btn-quit-hov: #F3832D;
        --text-modal-btn-quit-hov: #FFFFFF;
        --border-btn-shadow-qiut-hov: 3px 3px 5px 0px #2F2E2E33;


        // header
        --surface-header: #F0E5D9;
        --pading-header: 24px;
        --border-radius-header: 10px;
        --alignment-current-player: center;


        // Game information display field / status-plyer
        --surface-game-info: #FFFFFF;
        --text-player-bl: #2BB1FF;
        --text-player-or: #F58E39;
        --height-status-player: 54px;
        --padding-status-player: 16px;
        --border-game-info: 0px; 
        --border-radius-game-info: 10px;


        // btn exit
        // normal
        --text-btn-exit: #F3832D;
        --surface-btn-exit: #FFF9F2;
        --border-btn-exit: 3px;
        --border-radius-btn-exit: 10px;
        --font-size-btn-exit: 16px;
        --font-weight-btn-exit: 700;
        --padding-btn-exit: 12px 20px;
        --size-width-btn-exit: 30px;
        --size-height-btn-exit: 30px;

        // hover
        --border-btn-exit-hov: 0px;
        --border-color-btn-exit-hov: none;
        --surface-modal-btn-exit-hov: #F3832D;
        --text-btn-exit-hov: #FFFFFF;
        --border-btn-shadow-exit-hov: 3px 3px 5px 0px #2F2E2E33;
    }
}