@use './font_almarai.scss';
@use './font_red_rose.scss';
@use '../abstract/colors' as co;
@use '../abstract/mixin' as mx;


body {
    color: co.$font-co-light;
    background: co.$grey-bg;
}


main{
    @include mx.size-scaling($ht: 100%, $pd: 0px max(0px, calc(50% - 960px)));
}


h1 {
    font-family: 'Red Rose';
}


h4{
    @include mx.font-design($fz:24px, $fw:700);
}


li{
    @include mx.font-design($fz:20px, $fw:400);
}


button {
    cursor: pointer;
    color: inherit;
}