@use './font_almarai.scss';
@use './font_red_rose.scss';
@use '../abstract/colors' as co;


body {
    color: co.$font-co-light;
    background: co.$grey-bg;
    font-family: 'Almarai';
}


h1 {
    font-family: 'Red Rose';
}


button {
    font-family: 'Red Rose';
    cursor: pointer;
    color: inherit;
}