@use './font_almarai.scss';
@use './font_red_rose.scss';
@use '../abstract/colors' as co;


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    height: 100vh;
    color: co.$font-co-light;
    background: co.$grey-bg;
    font-family: 'Almarai';
}


h1 {
    font-family: 'Red Rose';
}


button {
    font-family: 'Red Rose';
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}