@use './font_almarai.scss';
@use './font_red_rose.scss';
@use '../abstract/colors' as co;


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    height: 100vh;
    font-family: 'Almarai';
    color: co.$font-co-light;
    background: co.$grey-bg;
}


button {
    all: unset;
}